
html {
  scroll-behavior: smooth;
}

  .container {
    display: grid;
    margin: 0;
    padding: 0;
  }

  main {
    background-color: #FDF9D8;
    color: #841617;
  }
  
  nav {
    background-color: #841617;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 5%;
    margin-top: 1.5%;
  }
  
  li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #FDF9D8;
  }
  
  .active {
    background-color: blueviolet;
  }


  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .main-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-one img {
    width: 15%;
    height: 45%;
    border-radius: 50%;
  }
  
  .hero-text {
    width: 30%;
    font-size: 42px;
    font-weight: 800;
    text-align: center;

  }
  
  .hero-text h1 {
    margin-bottom: 0%;
  }
  
  .hero-text h3 {
    font-size: 18px;
    font-size: 24px;
    
  }
  
  .main-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    height: 100vh;
  }
  
  .main-two h2 {
    font-size: 36px;
    font-weight: 700;
  }

  .journ {
    background-color: #841617;
    color: #FDF9D8;
  }


  .cards {
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;

  }
  
  .info {
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    text-decoration: none;
    color: #FDF9D8;
  }

  .software {
    color: #841617;
  }
  
  .main-two img {
    width: 30%;
    height: 90%;
    border-radius: 50%;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #841617;
    color: #FDF9D8;
  }