/* color pallette: https://www.colorhexa.com/ffbcd9 */

*,
::after,
::before {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color:#ffbcd9; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(44,auto); 
    width: auto;
    border: 50px solid #bcd9ff;
    border-radius: 2%;
    background-color: rgb(220, 220, 220);
}

#container.high {
    grid-template-columns: repeat(88,auto);
}

#container.low {
    grid-template-columns: repeat(22,auto);
}

.grid-square {
    background-color: rgb(220, 220, 220);
    border: 0.1px solid rgba(201, 201, 201, 0.803); 
}

.low > div {
    height: 40px;
    width: 40px;
}

.medium-default > div {
    height: 20px;
    width: 20px;
}

.high > div {
    height: 10px;
    width: 10px;
}

.controls, .density, .mode {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 1%;
    margin-right: 20px;
    width: auto;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}


/* MEDIA QUERIES: IPHONE X */

 @media only screen and (max-width: 1080px) {

    .display-2 {
        font-size: 3.5em;
    }

    #container {
        grid-template-columns: repeat(32,auto); 
    }

    #container.low {
        grid-template-columns: repeat(16,auto);
    }

    #container.high {
        grid-template-columns: repeat(64,auto);
    }

    .controls {
        flex-direction: column;
        align-items: center;
    }

    #erase {
        margin-top: 10px;
    }
 }