/* 

==========================
UNIVERSALS
==========================

*/


*,::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

/* 

==========================
NAV BAR
==========================

*/


  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 3%;
  }

  li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #FDF9D8;
  }
  
  .hamburger {
    position: fixed;
    top: 1.15rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 5;
  }
  
  .hamburger .bar {
    height: 2px;
    width: 100%;
    background-color: #841617;
    margin-bottom: 7px;
  }

  .nav-links {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all 0.35s ease-in;
    clip-path: circle(0% at 85% 0%);
  }

  .nav-links li {
    visibility: hidden;
  }

  .nav-links.active li {
    visibility: visible;
  }

.nav-links.active {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #841617;
    clip-path: circle(50% at 100% 0%);
    }

  .bar1 {
    transform: rotate(0);
  }
  
  .bar2 {
    transform: rotate(0);
  }
  
  .bar.close {
    background-color: #FDF9D8;
  }

    .bar1.close {
      transform: rotate(45deg) translate(30%, 0);
    }
  
    .bar2.close {
      transform: rotate(-45deg) translate(25%, 0%);
  }

/*

==========================
SECTIONS
==========================

*/

.container {
  display: grid;
}

section, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
 
  
section:nth-child(even) {
  background-color: #841617;
  color: #FDF9D8;
}

section:nth-child(odd) {
  background-color:#FDF9D8;
  color: #841617;
}

.about {
  padding: 10% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  background-color:#FDF9D8;
  color: #841617;
}
  


/*

==========================
TYPOGRAPHY
==========================
*/

.header, .sub-head, .description {
  padding-top: 2%;
  padding-bottom: 2%;
}

.header {
font-size: 3rem;
}

.sub-head {
  font-size: 1.5rem;
}

.description {
  font-size: 1em;
}

/*

==========================
IMAGES
==========================

*/

.prof-pic {
  margin-top: 5%;
  width: 30%;
  height: 66%;
  border-radius: 50%;
}


/*  
==========================
==========================
          DESKTOP
==========================
==========================

*/

@media screen and (min-width: 415px) {



 /*

==========================
NAV
==========================

*/


nav {
  background-color: #841617;
  color: #FDF9D8;
}

.hamburger {
  display: none;
}

.nav-links {
  flex-direction: row;
  justify-content: flex-end;
  background-color: #841617;
}

.nav-links li {
  visibility: visible;
}
 /*

==========================
SECTIONS
==========================

*/

section, footer {
  flex-direction: row;
}
  
.about {
  flex-direction: row;
}


  

 




 /*

==========================
BUTTONS
==========================

*/



  
  
/*

==========================
IMAGES
==========================

*/

.prof-pic {
  width: 15%;
  height: 33%;
  border-radius: 50%;
}

  

  .about .cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 15%;
  }
  
  
  .about .cards ul {
    list-style: outside;
    display: inline;
    font-size: 1.5em;
  }

  .eng h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 15%;
  }


  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
  }
  
  .info {
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2%;
    text-decoration: none;
    color:#841617;
  }

  .info.software {
    color:#FDF9D8;
  }
  
  #sketch, #weatherApp {
    text-decoration: none;
    color:#FDF9D8;
  }

  .eng img {
    width: 40%;
    height: 100%;
    border-radius: 5%;
    margin-top: 5%;
  }

  #see-more {
    font-size: 1.3em;
    width: 40%;
    text-align: left;
    margin-top: 20%;
    margin-left: 30%;
    font-weight: bold;
}

#see-more a {
  text-decoration: none;
  color: #841617;
}

  
}

/*

==========================
SECTIONS
==========================

*/