
html {
  scroll-behavior: smooth;
}

  .container {
    display: grid;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #841617;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 3%;
    margin-top: 1.5%;
  }
  
  li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #FDF9D8;
  }
  

  
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  section:nth-child(even) {
    background-color: #841617;
    color: #FDF9D8;
    height: 80vh;
  }

  section:nth-child(odd) {
    background-color:#FDF9D8;
    color: #841617;
    height: 80vh;
  }

  .main-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .main-one img {
    width: 15%;
    height: 45%;
    border-radius: 2%;
  }
  
  .hero-text {
    width: 30%;
    font-size: 42px;
    font-weight: 800;
    text-align: center;

  }
  
  .hero-text h1 {
    margin-bottom: 0%;
  }
  
  .hero-text h3 {
    font-size: 18px;
    font-size: 24px;
    
  }
  
  .main-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .about .cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 50vh;
    margin: 0px 15%;
  }
  
  .about p {
    font-size: 1.5em;
    margin: 0.5%;
  }

  .about .cards ul {
    list-style: outside;
    display: inline;
    font-size: 1.5em;
  }

  .main-two h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 15%;
  }


  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
  }
  
  .info {
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2%;
    text-decoration: none;
    color:#841617;
  }

  .info.software {
    color:#FDF9D8;
  }
  
  #sketch {
    text-decoration: none;
    color:#FDF9D8;
  }

  .main-two img {
    width: 40%;
    height: 100%;
    border-radius: 5%;
    margin-top: 5%;
  }

  #see-more {
    font-size: 1.3em;
    width: 40%;
    text-align: left;
    margin-top: 20%;
    margin-left: 30%;
    font-weight: bold;
}

#see-more a {
  text-decoration: none;
  color: #841617;
}

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #841617;
    color: #FDF9D8;
  }

  