/* 

==========================
UNIVERSALS
==========================

*/

body {
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: "avenir light", Sans-Serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

h1, h2, p {
  margin: 1%;
}

h1 {
  margin-top: 2%;
}

/*  
==========================
==========================
==========================
==========================
          MOBILE
==========================
==========================
==========================
==========================

*/

/*

==========================
SECTIONS SETUP
==========================

*/

.container {
  display: grid;
}

section,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 5%;
}

.footer p {
  color: #fff;
}
/*

==========================
SECTIONS DISPLAY
==========================

*/

.proj-cards {
  display: grid;
  grid-template-columns: 1fr;
}

.proj-card {
  border-radius: 1%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.4s 0.3s ease-out;
  will-change: transform, opacity;
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border: 1px solid black;
}

/* .proj-img {
  width: 50%;
  height: 50%;
} */

.proj-card.is-visible {
  opacity: 1;
}

.proj-card:hover {
  transform: translateY(-1rem);
}

.card-title {
  font-size: 1.2rem;
}

.info {
  width: 80%;
  text-align: left;
}

.btn {
  font-size: 1.2rem;
  margin-top: 2%;
}


/*

==========================
TYPOGRAPHY
==========================
*/

.proj-card a {
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
}

.proj-card a,
.proj-card p {
  margin-top: 5%;
}

.proj-card h1,
p {
  color: black;
}

#title {
  padding-left: 6%;
  padding-top: 3%;
}

/*

==========================
IMAGES
==========================

*/

.proj-img {
  width: 100%;
  height: 60%;
}

/*


/*  
==========================
==========================
==========================
==========================
          DESKTOP
==========================
==========================
==========================
==========================

*/

@media screen and (min-width: 415px) {
  /*

==========================
SECTIONS
==========================

*/

  section,
  footer {
    flex-direction: row;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.04em;
    font-family: "Georgia", sans-serif;
  }

  h2 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.04em;
    font-family: "avenir", Sans-Serif;
    font-style: italic;
  }

  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  .about {
    flex-direction: row;
    padding: 5%;
  }

  .section-intro {
    margin-bottom: 5%;
  }

  #see-more {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
  }
  /*

==========================
SECTIONS DISPLAY
==========================

*/

  .proj-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .proj-card {
    transition: color 0.25s, background-color 0.25s, box-shadow 0.25s,
      transform 0.25s;
  }

  .proj-card:hover {
    padding-bottom: 1%;
    box-shadow: 0 0 15px black;
  }

  .proj-description {
    width: 90%;
    padding: 3%;
  }
}
