/* 

==========================
UNIVERSALS
==========================

*/


*, ::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", "Georgia" , Arial, sans-serif;
}


html {
  scroll-behavior: smooth;
}

/* 

==========================
NAV BAR
==========================

*/


ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-right: 3%;
}

li {
  display: inline-block;
  padding: 0.5%;
}

li a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #eee7e1;
}

.hamburger {
  position: fixed;
  top: 1.15rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 5;
}

.hamburger .bar {
  height: 2px;
  width: 100%;
  background-color: #1a1919;
  margin-bottom: 7px;
}

.nav-links {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all 0.35s ease-in;
  clip-path: circle(0% at 85% 0%);
}

.nav-links li {
  visibility: hidden;
}

.nav-links.active li {
  visibility: visible;
}

.nav-links.active {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a1919;
  clip-path: circle(50% at 100% 0%);
}

.bar1 {
  transform: rotate(0);
}

.bar2 {
  transform: rotate(0);
}

.bar.close {
  background-color: #eee7e1;
}

.bar1.close {
  transform: rotate(45deg) translate(30%, 0);
}

.bar2.close {
  transform: rotate(-45deg) translate(25%, 0%);
}

/*

==========================
SECTIONS SETUP
==========================

*/

.container {
  display: grid;
}

section, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}


section:nth-child(even) {
  background-color: #1a1919;
  color: #eee7e1;
}

section:nth-child(odd) {
  background-color: #eee7e1;
  color: #1a1919;
}

.about {
  padding: 10% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  background-color: #eee7e1;
  color: #1a1919;
}



/*

==========================
SECTIONS DISPLAY
==========================

*/

.proj-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.proj-card {
  margin: 5%;
}

/*

==========================
TYPOGRAPHY
==========================
*/

.header, .sub-head, .description {
  padding-top: 1%;
  padding-bottom: 1%;
}

.header {
  font-size: 3.5rem;
}

.sub-head {
  font-size: 2rem;
}

.description {
  font-size: 1.5rem;
}

.section-intro {
  font-size: 2rem;
  margin-bottom: 10%;
}

.section-intro a {
  color: #eee7e1;
}

.proj-description {
  font-size: 1.5rem;
  width: 60%;
  padding: 1%;
}

.proj-description a {
  color: #eee7e1;
}

/*

==========================
IMAGES
==========================

*/

.prof-pic {
  margin-top: 5%;
  width: 30%;
  height: 66%;
  border-radius: 50%;
}

.proj-img {
  width: 80%;
  height: 100%;
  border-radius: 5%;
}


/*  
==========================
==========================
==========================
==========================
          DESKTOP
==========================
==========================
==========================
==========================

*/

@media screen and (min-width: 415px) {



  /*

==========================
NAV
==========================

*/


  nav {
    background-color: #1a1919;
    color: #eee7e1;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    flex-direction: row;
    justify-content: flex-end;
    clip-path: none;
    position: relative;
    width: auto;
  }

  .nav-links li {
    visibility: visible;
  }

  /*

==========================
SECTIONS
==========================

*/

  section, footer {
    flex-direction: row;
  }

  .about {
    flex-direction: row;
    padding: 5%;
  }

  .eng {
    flex-direction: column;
  }

  .section-intro {
    margin-bottom: 5%;
  }
/*

==========================
SECTIONS DISPLAY
==========================

*/


.about-blurb {
  width: 30%;
  padding-top: 2%;
  margin-left: 3%;
}

.proj-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.proj-description {
  width: 60%
}




  /*

==========================
BUTTONS
==========================

*/





  /*

==========================
IMAGES
==========================

*/

  .prof-pic {
    width: 15%;
    height: 33%;
    border-radius: 50%;
  }

  .proj-img {
    width: 60%;
    height: 100%;
    border-radius: 5%;
  }


/*

==========================
TYPOGRAPHY
==========================

*/

  #see-more {
    font-size: 1.3em;
    width: 40%;
    text-align: left;
    margin-top: 20%;
    margin-left: 30%;
    font-weight: bold;
  }

  #see-more a {
    text-decoration: none;
    color: #1a1919;
  }

}