/* 

==========================
UNIVERSALS
==========================

*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", "Georgia", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*  
==========================
==========================
==========================
==========================
          MOBILE
==========================
==========================
==========================
==========================

*/

/*

==========================
SECTIONS SETUP
==========================

*/

.container {
  display: grid;
}

section,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 5%;
}

/*

==========================
SECTIONS DISPLAY
==========================

*/

.proj-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.proj-card {
  margin: 3%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.4s 0.3s ease-out;
  will-change: transform, opacity;
  background-color: rgb(245, 245, 245);
  padding: 5px;
  border: 1px solid black;
}

.proj-img {
  width: 50%;
  height: 50%;
}

.proj-card.is-visible {
  opacity: 1;
}

.proj-card:hover {
  transform: translateY(-1.5rem);
}

.info {
  width: 80%;
  text-align: left;
}

/*

==========================
TYPOGRAPHY
==========================
*/

.proj-card a {
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
}

.proj-card a,
.proj-card p {
  margin-top: 5%;
}

.proj-card h1,
p {
  color: black;
}

#title {
  padding-left: 6%;
  padding-top: 3%;
}

/*

==========================
IMAGES
==========================

*/

.proj-img {
  width: 100%;
  height: 60%;
}

/*


/*  
==========================
==========================
==========================
==========================
          DESKTOP
==========================
==========================
==========================
==========================

*/

@media screen and (min-width: 415px) {
  /*

==========================
SECTIONS
==========================

*/

  section,
  footer {
    flex-direction: row;
  }

  .about {
    flex-direction: row;
    padding: 5%;
  }

  .section-intro {
    margin-bottom: 5%;
  }

  #see-more {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
  }
  /*

==========================
SECTIONS DISPLAY
==========================

*/

  .proj-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .proj-card {
    transition: color 0.25s, background-color 0.25s, box-shadow 0.25s,
      transform 0.25s;
  }

  .proj-card:hover {
    padding-bottom: 1%;
    box-shadow: 0 0 15px black;
  }

  .proj-description {
    width: 90%;
  }
}
